/* .login-container {
  max-width: 600px;
  padding: 40px 40px;
  background-color: #F7F7F7;
  margin: 0 0 25px 0;
  border-radius: 10px;
  border: 1px solid #eee;
}

.login-container .login-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}

.login-container .login-title {
  margin: 15px 0;
  text-align: center;
  font-size: 1.5em;
  color: #444;
}

.login-container .login-link {
  margin-top: 10px;
  text-align: center;
}

.login-container .login-form .form-group {
  margin-bottom: 8px;
}

.login-container .login-form .error-panel {
  color: #e74c3c;
  text-align: center;
}

@media (max-width: 767px) {
  .login-container {
    width: 100%;
  }
} */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}